@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/roboto-mono.woff2") format("woff2"),
    url("../font/roboto-mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/roboto-mono-bold.woff2") format("woff2"),
    url("../font/roboto-mono-bold.woff") format("woff");
  font-weight: bold;
  font-display: swap
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #1d2021;
  font-family: "Source Sans Pro";
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: auto;
  padding: 20px;
  max-width: 60%;
  max-width: 960px;
  min-height: 100vh;
  box-sizing: border-box;
  line-height: 1.5;
}

body a {
  text-decoration: none;
  color: #485fa0;
  border-bottom: 3px solid #5C79CF;
}

body a:hover {
  background-color: #5C79CF;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid white;
}

strong {
  color: #5C79CF;
  font-weight: bold;
}

figcaption {
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.body img {
  width: 100%;
  height: max-content;
}

.skip-to-main-content-link {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 1em;
  background-color: #5C79CF;
  color: #1d2021;
  font-weight: bold;
  opacity: 0;
}

.skip-to-main-content-link:focus {
  opacity: 1;
}

/* region about me home*/
.about-me-home {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 100px;
}

.about-me-home img {
  width: 250px;
  height: 250px;
}

.about-me-home-name {
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: #5C79CF;
  text-decoration: none;
}

.about-me-home-left {
  padding: 0;
  padding-right: 50px;
}

#about-me-home-icons {
  width: 100%;
  display: flex;
}

#about-me-home-icons a {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.main-title {
  text-decoration: unset;
  color: inherit;
  border-bottom: unset;
}

.main-title h1 {
  text-decoration: none;
}

.main-title:hover {
  background-color: unset;
  color: unset;
}

/* endregion about me home*/

/* region header*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

header nav a {
  margin-left: 20px;
}

header h1 {
  border-bottom: 3px solid #5C79CF;
  font-size: 2rem;
  width: fit-content;
}

header h1:hover {
  background-color: #5C79CF;
  color: #ffffff;
}

/* endregion header*/

/* region pre code*/
pre {
  tab-size: 2 !important;
  background: #282828;
  padding: 20px;
  overflow-x: auto;
  border: 1px solid #485fa0;
}

/* endregion pre code*/

/* region footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin-top: auto;
  padding-top: 50px;
}

footer p {
  text-align: center;
}

#footer-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer-icons a {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* endregion footer*/

/* region articles list*/
.articles-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articles-list ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  height: 20px;
}

.articles-list ul li time {
  flex: 0 0 150px;
  font-family: monospace;
  letter-spacing: 0;
}

.articles-list ul li a {
  height: 18px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* endregion articles list*/

.posted-on {
  font-style: italic;
  color: #2f3335;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

/* region card*/

#my-projects-section {
  padding-top: 30px;
}

#card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 2em;
}

#card-list a {
  width: 400px;
  padding: 20px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: .6s;
  border-bottom: none;
}

#card-list a h3 {
  border-bottom: none;
  padding: 0;
  margin: 10px 0;
  color: black;
}

#card-list a:hover {
  color: unset;
  background-color: #adb6ce;
  transition: .3s;
}

#card-list img {
  border-bottom: 2px solid #5C79CF;
}

#card-list a p {
  margin: 0;
  padding: 0;
  color: black;
}

/* endregion card*/

.icon {
  width: 20px !important;
  height: 20px !important;
  vertical-align: text-top;
  padding-right: 5px;
}

/* region responsive*/
@media only screen and (max-device-width: 812px) {

  body {
    width: 90%;

  }

  header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  header h1 {
    font-size: 2rem;
  }

  header {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
  }

  .menu a {
    text-decoration: none;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  .navicon {
    background: #485fa0;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before,
  .navicon:after {
    background: #485fa0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
  }

  .menu {
    grid-area: nav;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #485fa0;
    display: flex;
    flex-direction: column;
  }

  .menu a {
    margin: 0;
    background-color: #5C79CF;
    color: #ffffff;
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
  }

  .menu-btn:checked~.menu {
    max-height: 240px;
  }

  .menu-btn:checked~.menu-icon .navicon {
    background: none;
  }

  .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked~.menu-icon .navicon:before,
  .menu-btn:checked~.menu-icon .navicon:after {
    top: 0;
  }


  .about-me-home {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .about-me-home img {
    width: 250px;
    height: 250px;
    margin-top: 30px;
  }

  .about-me-home-left {
    padding: 0;
  }

  #about-me-home-icons {
    justify-content: center;
  }

  .articles-list ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .articles-list ul li {
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: fit-content;
  }

  .articles-list ul li a {
    font-size: 20px;
    overflow: inherit;
    white-space: break-spaces;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: #5C79CF;
    text-decoration-thickness: 3px;
    line-height: 1.5;
    height: max-content;
  }

  .articles-list ul li time {
    flex: 0;
    padding-bottom: 10px;
  }

  footer {
    bottom: 0;
    text-align: center;
    width: 100%;
  }

  #card-list {
    width: 100%;
  }

  #card-list a {
    width: 100%;
  }

  #card-list img {
    width: 100%;
  }
}

/* endregion responsive*/
