{{ define "main" }}
<main id="main">
  <article>
    <h1 class="title">{{ .Title }}</h1>
    <p class="posted-on">{{ i18n "posted-on"}}{{ dateFormat (i18n "single-post-date-format") .Date }}</p>
    <section class="body">
      {{ .Content }}
    </section>
  </article>
</main>
{{ end }}
