<footer>
  <div id="footer-icons">
    <a href="https://git.leomurca.xyz/" target="_blank">
      <img style="width: 20px; height: 20px; padding: 0; margin: 0;" width="20" height="20" src="/icons/git.svg"
        alt="Git icon" />
    </a>
    <a href="https://gitlab.com/leomurca" target="_blank">
      <img style="width: 20px; height: 20px; padding: 0; margin: 0;" width="20" height="20" src="/icons/gitlab.svg"
        alt="Gitlab icon" />
    </a>
    <a href="https://github.com/leomurca" target="_blank">
      <img style="width: 20px; height: 20px; padding: 0; margin: 0;" width="20" height="20" src="/icons/github.svg"
        alt="Github icon" />
    </a>
    <a href="https://www.linkedin.com/in/leonardoamurca/" target="_blank">
      <img style="width: 20px; height: 20px; padding: 0; margin: 0;" width="20" height="20" src="/icons/linkedin.svg"
        alt="Linkedin icon" />
    </a>
    <a href="{{ .Site.Home.RelPermalink }}posts/index.xml" target="_blank">
      <img style="width: 20px; height: 20px; padding: 0; margin: 0;" width="20" height="20" src="/icons/rss.svg"
        alt="RSS Feed icon" />
    </a>
  </div>

  <p>Copyright © {{ now.Year }} Leonardo Murça.</p>
</footer>
