<footer>
  <div id="footer-icons">
    <a href="https://git.leomurca.xyz/" target="_blank" aria-label="My personal git server.">
        <div>{{ partial "svg" "git" }}</div>
    </a>
    <a href="https://github.com/leomurca" target="_blank" aria-label="My personal Github profile.">
        <div>{{ partial "svg" "github" }}</div>
    </a>
    <a href="https://www.linkedin.com/in/leonardoamurca/" target="_blank" aria-label="My personal LinkedIn profile.">
        <div>{{ partial "svg" "linkedin" }}</div>
    </a>
    <a href="{{ .Site.Home.RelPermalink }}posts/index.xml" target="_blank" aria-label="My RSS feed.">
        <div>{{ partial "svg" "rss" }}</div>
    </a>
  </div>

  <p>Copyright © {{ now.Year }} Leonardo Murça. <br /> {{ i18n "all-rights-reserved"}} </p>
</footer>
