<header>
  <a href="#main" class="skip-to-main-content-link">Skip to main content</a>
  <a class="main-title" href="{{ .Site.Home.RelPermalink }}">
    <h1>{{ .Site.Title }}</h1>
  </a>

  <input aria-hidden="true" tabindex="-1" class="menu-btn" type="checkbox" id="menu-btn" />
  <label tabindex="-1" class="menu-icon" for="menu-btn">
    <span tabindex="-1" class="navicon"></span>
  </label>

  <nav class="menu">
    {{ range .Site.Menus.main }}
    <a class='nav-item' href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
  </nav>
</header>
