<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  {{ partial "header.html" . }}
  <main id="main">
    <section class="about-me-home">
      <div class="about-me-home-left">
        <span>{{ i18n "my-name-is"}}</span>
        <h1 class="about-me-home-name">Leonardo.</h1>
          <h2 class="about-me-home-current-position">{{ i18n "home-position"}} <a href="https://arctouch.com/" target="_blank">ArcTouch</a></h2>
        <p>{{ i18n "home-introduction" (dict "years" (sub (now.Year) 2018)) }}</p>
        <div id="about-me-home-icons">
          <a href="https://git.leomurca.xyz/" target="_blank">
            <div class="main-icons">{{ partial "svg" "git" }}</div>
          </a>
          <a href="https://github.com/leomurca" target="_blank">
            <div class="main-icons">{{ partial "svg" "github" }}</div>
          </a>
          <a href="https://www.linkedin.com/in/leonardoamurca/" target="_blank">
            <div class="main-icons">{{ partial "svg" "linkedin" }}</div>
          </a>
          <a href="{{ .Site.Home.RelPermalink }}posts/index.xml" target="_blank">
            <div class="main-icons">{{ partial "svg" "rss" }}</div>
          </a>
        </div>
      </div>
      <img width="250" height="250" src="/img/avatar.webp" srcset="/img/avatar-mobile.webp 600w, /img/avatar.webp 1080w"
        sizes="50vw"
        alt="A picture of me smiling, wearing a blue t-shirt and a stone collar with some coconut trees behind me." />
    </section>
    <section id="my-projects-section">
      <h2>{{ i18n "my-projects"}}</h2>
      <p>{{i18n "my-projects-description" }}</p>
      <div id="card-list">
        <a href="https://embroideryviewer.xyz" target="_blank" rel="noreferrer">
          <img src="/img/embroidery-viewer-screenshot.webp" alt="Embroidery viewer screenshot." width="400">
          <h3>{{
            i18n "embroidery-viewer-title" }}
          </h3>
          <p tabindex="0">{{ i18n "embroidery-viewer-description" }}</p>
        </a>
        <a href="https://vumborastartups.com.br" target="_blank" rel="noreferrer">
          <img src="/img/vumbora-startups-screenshot.webp" alt="Vumbora Startups screenshot." width="400">
          <h3>{{
            i18n "vumbora-startups-title" }}
          </h3>
          <p tabindex="0">{{ i18n "vumbora-startups-description" }}</p>
        </a>
        <a href="https://programatir.com.br" target="_blank" rel="noreferrer">
          <img src="/img/programa-tir-screenshot.webp" alt="Programa TIR screenshot." width="400">
          <h3>{{
            i18n "programa-tir-title" }}
          </h3>
          <p tabindex="0">{{ i18n "programa-tir-description" }}</p>
        </a>
      </div>
    </section>
  </main>
  {{ partial "footer.html" . }}
</body>

</html>
