@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.woff2") format("woff2"),
    url("../font/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #000000;
  font-family: "Source Sans Pro";
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: auto;
  padding: 20px;
  max-width: 760px;
  min-height: 100vh;
  box-sizing: border-box;
}

/* region header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

header h1 {
  border-bottom: 3px solid #000000;
  width: fit-content;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header nav a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

header nav a:hover {
  border-bottom: 2px solid #000000;
}

.main-title {
  text-decoration: none;
  color: inherit;
}
/* endregion header*/

/* region bio*/
.bio-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* endregion bio*/

/* region pre code*/
pre {
  tab-size: 2;
  background: #282828;
  color: #fbf1c7;
  padding: 20px;
}
/* endregion pre code*/

/* region blockquote*/
blockquote {
  margin: 30px auto;
  font-style: italic;
  color: #000000;
  border-left: 3px solid #282828;
  padding-left: 20px;
  position: relative;
}
/* endregion blockquote*/

/* region footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin-top: auto;
}

footer p {
  text-align: center;
}
/* endregion footer*/


/* region articles list*/
.articles-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articles-list ul li {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  height: 20px;
}

.articles-list ul li span {
  flex: 0 0 150px;
  font-family: monospace;
  letter-spacing: 0;
}

.articles-list ul li a {
  height: 18px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.articles-list ul li a:hover {
  border-bottom: 2px solid #2652b7;
  color: #2652b7;
}
/* endregion articles list*/

/* region responsive*/
@media only screen and (max-device-width: 812px) {
  .bio-section {
    flex-direction: column;
    align-items: center;
  }
}
/* endregion responsive*/
